extends ../layout.pug

block content
    h2 #{empleado.nombre} 
    p DNI: #{empleado.dni}
    p Sexo: #{empleado.sexo}
    p Fecha Nacimiento #{empleado.fecha_nac}
    p Fecha Incorporacion #{empleado.fecha_inc}
    p Salario: #{empleado.salario}
    p Cargo: #{empleado.cargo}
    p Departamento: #{empleado.fk_departamento}
    p Jefe: #{empleado.jefe}